.mat-card {
    max-width: 250px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
.card-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

.card-action-center {
    flex: 1 1 auto;
    text-align: center;
    
}

.list-grid-style {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.btn-style{
    margin: 5px;
    /* margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px; */
}

.example-section {
  width: 50%;
  text-align: end;
  height: 40px;
}

.toggle-style {
  margin: 5px;
  width: 20%;
  height: 30px;
}

.category-container{
  display: flex;
  text-align: justify;
}

.p-style{
  width: 80%;
  font-size: 16;
}

.btn-style{
  width: min-content;
}