.mat-card{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    align-self: center;
}

.container{
    padding: 10px;
}

.container-img{
    padding: 10px;
    text-align: left;
}

.mat-field{
    width: 100%;
}

.img-style{
    width: 100%;
    height: 250px;
}

.input-file{
    width: 100%;    
}