<!-- UI for Login Toolbar start -->
<div>
  <mat-toolbar color="accent">

    <span>Angular</span> &nbsp;
    <span class="toolbar-width">
        {{currentUser}}
    </span>
  
    <div *ngIf="currentUser">
        <button mat-button color="primary" (click)="logout()">Logout</button>
    </div>
    
    <div *ngIf="!currentUser">
        <button mat-button color="primary" (click)="onLogin()">Login</button>
    </div>

    <div *ngIf="loading">
      <mat-spinner diameter="20"></mat-spinner>
    </div>

  </mat-toolbar>
</div>
<!-- UI for Login Toolbar end -->

<!-- Display Category UI -->
<div *ngIf="currentUser">
  <app-category></app-category>
</div>


  <!-- <div *ngIf="items">
    <ul>
      <li *ngFor="let item of items | async">
         {{ item | json }}
      </li>
    </ul>
  </div> -->


<!-- <button mat-icon-button color="warn" style="align-content: center;" (click)="onLogin()">
    <mat-icon>account_circle</mat-icon>Login using Google account
</button> -->

